$border-color: #ccc;
$table-header-bg: #f4f4f4;
$table-hover-bg: #e1eef0;
$table-row-even-bg: #f9f9f9;
$table-row-odd-bg: #709ca7;
$table-row-odd-text: #ffffff;
$text-color: #333;
$table-border-radius: 8px;

.tableau-animaux {
  table-layout: fixed; // Fixe la largeur des colonnes
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;

  th,
  td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    overflow: hidden;
    color: $text-color; // Empêche le débordement du contenu
  }

  th {
    background-color: #f4f4f4;
    font-weight: bold;
  }

  // Les champs d'édition prennent toute la largeur de la cellule
  .edit-input {
    width: 100%; // S'assure que les inputs remplissent la cellule
    box-sizing: border-box; // Inclut le padding dans la largeur totale
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  tr {
    &:nth-child(even) {
      background-color: $table-row-even-bg;
    }

    &:nth-child(odd) {
      background-color: $table-row-odd-bg;
      color: $table-row-odd-text;
    }

    &:hover {
      background-color: $table-hover-bg;
      color: $text-color;
    }
    button {
      margin: 2px;
      padding: 5px 10px;
      font-size: 12px;
      cursor: pointer;
      border: 1px solid black;
      border-radius: 4px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #007bff;
        color: #fff;
      }

      &.delete:hover {
        background-color: #e74c3c;
      }
    }
  }
}
